[submodule "metamodule-plugin-sdk"]
	path = metamodule-plugin-sdk
	url = git@github.com:4ms/metamodule-plugin-sdk
[submodule "Valley/ValleyRackFree"]
	path = Valley/ValleyRackFree
	url = https://github.com/4ms/ValleyRackFree.git
[submodule "Geodesics/Geodesics"]
	path = Geodesics/Geodesics
	url = https://github.com/MarcBoule/Geodesics.git
[submodule "Bogaudio/BogaudioModules"]
	path = Bogaudio/BogaudioModules
	url = https://github.com/4ms/BogaudioModules
[submodule "chowdsp/ChowDSP-VCV"]
	path = chowdsp/ChowDSP-VCV
	url = https://github.com/4ms/ChowDSP-VCV.git
[submodule "kocmoc/kocmoc-rack-modules"]
	path = kocmoc/kocmoc-rack-modules
	url = https://github.com/janne808/kocmoc-rack-modules.git
